.page-header{
  display: none !important;
}

#publish_page_dataset_name_in_title{
  text-decoration: underline;
}

#publish_step2, #publish_step3, #publish_step_final, #publish_result_section{
  display: none;
}

#dataset_transfer_submit{
  display: none;
}


#final_action_buttons{
    display: none;
}

#api_token_input_empty_alert_box, #api_token_not_exist_alert_box{
  display: none;
}


.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.checkbox-container::after{
  content: none;
}
  
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* waiting dotted begin */


.jumping-dots-loader {
width: 100px;
height: 100px;
border-radius: 100%;
position: relative;
margin: 0 auto;
}

.jumping-dots-loader span {
display: inline-block;
width: 20px;
height: 20px;
border-radius: 100%;
background-color: rgba(30, 139, 85, 0.8);
margin: 35px 5px;
}

.jumping-dots-loader span:nth-child(1) {
animation: bounce 1s ease-in-out infinite;
}

.jumping-dots-loader span:nth-child(2) {
animation: bounce 1s ease-in-out 0.33s infinite;
}

.jumping-dots-loader span:nth-child(3) {
animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce {
0%, 75%, 100% {
 -webkit-transform: translateY(0);
 -ms-transform: translateY(0);
 -o-transform: translateY(0);
 transform: translateY(0);
}
25% {
 -webkit-transform: translateY(-20px);
 -ms-transform: translateY(-20px);
 -o-transform: translateY(-20px);
 transform: translateY(-20px);
}
}

/* waiting dotted end */
